#textdomain wesnoth-AoDH

#define RANDOM_SIDE 
    [multiplayer_side]
        id=random_side
        name= _"Random Side"
        image="units/random-dice.png"
        random_faction=yes
        choices=test_chaotic,test_lawful
    [/multiplayer_side]
#enddef

#define CULTIST_FACTION ID NAME IMAGE LEADER RECRUITS 

    [multiplayer_side]
        id={ID}
        name=_ {NAME}
        image={IMAGE}
        type=random
        leader={LEADER}
        recruit={RECRUITS}
    [/multiplayer_side]
#enddef 

#define FACTION_CASE ID BALANCE_RECRUITS RECRUITS

[case]
    value={ID}

        [modify_side]
            side=$side.side
            recruit={BALANCE_RECRUITS}
        [/modify_side]

        [event]
            name=recruit 

                [filter]
                    side=$side.side
                [/filter]

                [modify_side]
                    side=$side.side
                    recruit={RECRUITS}
                [/modify_side] 
        [/event]
    [/case]
#enddef


#####################
#     Sinisters     
#####################

#define SINISTERS_RECRUITS
"Orcish Grunt,Orcish Archer,Skeleton Rider,Dark Adept,AoDH_Zombie"
#enddef

#define SINISTERS_BALANCE_RECRUITS
"Orcish Grunt,Orcish Archer,Dark Adept"
#enddef

#####################
#     Mystics   
#####################

#define MYSTICS_RECRUITS
"Footpad,Skeleton,Dune Herbalist,Elvish Archer,Sand Scamperer"
#enddef

#define MYSTICS_BALANCE_RECRUITS
"Skeleton,Dune Herbalist,Elvish Archer"
#enddef

#####################
#     Arsonists  
#####################

#define ARSONISTS_RECRUITS
"Drake Fighter,Dwarvish Thunderer,Ghoul,Fire Guardian,Dwarvish Ulfserker"
#enddef

#define ARSONISTS_BALANCE_RECRUITS
"Drake Fighter,Dwarvish Thunderer,Ghoul"
#enddef





