#textdomain wesnoth-AoDH

#define TEST_GOD ALIGNMENT

[unit_type]
    id=AoDH_Test_God_{ALIGNMENT}
    name= _ "God"
    race=monster
    gender=female
    image="units/test/leader.png"
    hitpoints=0
    {TRAIT_GOD_MUSTHAVE}
    movement_type=smallfoot
    movement=0
    vision=5 
    experience=-1
    level=10
    alignment={ALIGNMENT}
    advances_to=null
    cost=1000
    usage=leader
    description= _ ""
    die_sound={SOUND_LIST:LICH_HIT}

    [defense]
        castle=100 
    [/defense]

    [abilities]
        {ABILITY_AODH_SET_ALIGHTMENT {ALIGNMENT}}
        {ABILITY_AODH_GOD}
    [/abilities]

    {DEFENSE_ANIM "units/test/leader.png" "units/test/leader.png" {SOUND_LIST:LICH_HIT}}
[/unit_type]

#enddef

{TEST_GOD chaotic}
{TEST_GOD lawful}
{TEST_GOD neutral}
{TEST_GOD liminal}


